div(id="clock" style="position: absolute; right:0px;")
          div(id="time")
            div 
              span(id="date") 00 
              span Date
            div
              span(id="month") 00
              span Month
            div 
              span(id="hours") 00
              span Hours
            div
              span(id="minutes") 00
              span Minutes
            div
              span(id="seconds") 00
              span Seconds
            div
              span(id="ampm") AM
              span AM
header
  nav
    ul
      li
        if user && user.role == 'member'
          li: img(src="../images/avatar/" + user.avatar onerror="this.src='../images/avatar.png'" width="50px" height="50px" style="margin-left: 30px")
          li: a(hred="#") Logged in as #{user.username} 
        if user && user.role == 'admin'
          li: img(src="../images/avatar/" + user.avatar onerror="this.src='../images/avatar.png'" width="50px" height="50px" style="margin-left: 30px")
          li: a(hred="#") Logged in as #{user.username} 
      li: a( href="/alt/") Home
      if !user
        //- li: a(style="float:right" href="/alt/signIn") Sign In
        li: a(href="/alt/signIn") Sign In
      if user && user.role == 'member'
        li: a(href="/alt/account") Account
        li: a(id="signout" href="/alt/signOut") Sign Out
        li: span Logged in as #{user.username}
          img(src="../images/avatar/" + user.avatar onerror="this.src='../images/avatar.png'" width="25px" height="25px")
      if user && user.role == 'admin'
        li: a(href="/alt/adminPanel") Admin Control Panel
        li: a(href="/alt/account") Account
        li: a(id="signout" href="/alt/signOut") Sign Out
          
      li: a( href="/" style="margin-top: 50px") Main
        
        
      
