doctype
html
  head
    title YYY | #{title}
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet")
    link(rel="icon", type="image/svg+xml", href="/favicon.svg")
    link(rel='stylesheet', href='/stylesheets/styleFrontpage.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/slidetheme.css')
    //- script(src='/javascripts/darkTheme.js')
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js")



    body
      // Header
      include _header


      // CONTENT
      block content


      // FOOTER
      include _footer

      script(src='/javascripts/clock.js')
      script(src="/javascripts/bundle.js")

