* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background: #030613;
  min-height: 100vh;
}

main {
  margin: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #030613;
  border-bottom: 1px solid;
  border-bottom-color: #fff;
}

li a {
  font-family: Montserrat;
  font-weight: 300;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  text-transform: uppercase;
}

li a:hover {
  background-color: #ff006a;
}

body {
  background: #030613;
  min-height: 100vh;
}

#flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

#title h1 {
  position: relative;
  color: #fff;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1.6em;
}
#title h3 a {
  position: relative;
  color: #fff;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1.2em;
  text-decoration-line: line-through;
}

#title h3 {
  position: relative;
  text-align: center;
  color: #fff;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1em;
}

p {
  font-family: 'Open Sans', sans-serif;

}

.link {
  color: #fff;
  text-decoration: none;
  opacity: 0.3;
}

#a1 {
  color: #ff006a;
}
#a4 {
  color: #ff006a;
}

/*#clock h2 {
    position: relative;
    display: block;
    color: #fff;
    text-align: center;
    margin: 10px 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 0.8em;
}*/

#clock #time {
  display: flex;
}

#clock #time div {
  position: relative;
  margin: 0px 2px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}

#clock #time div span {
  position: relative;
  display: block;
  width: 60px;
  height: 23px;
  background: #2196f3;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

#clock #time div:nth-child(-n + 2) span {
  position: relative;
  display: block;
  width: 60px;
  height: 23px;
  background: #4e4e4e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

#clock #time div span:nth-child(2) {
  height: 23px;
  font-size: 0.55em;
  letter-spacing: 0.2em;
  font-weight: 500;
  z-index: 9;
  box-shadow: none;
  background: #127fd6;
  text-transform: uppercase;
}

#clock #time div:nth-last-child(2) span {
  background: #ff006a;
}

#clock #time div:nth-last-child(2) span:nth-child(2) {
  background: #ec0062;
}

#clock #time div:nth-last-child(n + 5) span:nth-last-child(1) {
  background: #414141;
}

#clock #time div:nth-last-child(1) span {
  display: none; /* 24h */
  position: absolute;
  bottom: 0;
  width: 80px;
  height: 60px;
  font-weight: 500;
  font-size: 1.4em;
  background: #fff;
  color: #000;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}

.errors div {
  background-color: #232530;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  display: hidden;  
}

/*Hele boksen det er i*/
#wrapper {
  padding: 20px 50px 20px 50px;
  display: flex;
  width: 100%;
}

.wrapper {
  background-color: #232530;
  width: 40%;
  margin: 0 auto;
  padding: 20px 50px 20px 50px;
}

/*ventre div i boksen*/
#leftbox {
  border-style: solid;
  border-color: white;
  width: 50%;
  margin: 0 auto;
  padding: 20px 50px 20px 50px;
  float: left;
}

#box1,
#box2,
#box3 {
  background-color: blue;
  border-style: 5px solid;
  border-color: white;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*right div i boksen*/
#rightbox {
  border-style: solid;
  border-color: white;
  width: 50%;
  margin: 0 auto;
  padding: 20px 50px 20px 50px;
  float: right;
}
/*div inde right div*/
.loginbox {
  background-color: #232530;
  text-align: center;
}
/*style af formen*/
#myforml {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
input[type=text], input[type=email], input[type=password], textarea, select{
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #353744;
  opacity: 0.6;
  padding: 18px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
}
input[type=text], input[type=email], input[type=password] {
    margin-bottom: 20px;
}
::placeholder {
    color: #fff;
    opacity: 0.3;
    font-size: 14px;
}
input[type=submit] {
  width: 100%;
  font-size: 20px;
  background-color: #ff006a;
  opacity: 0.5;
  color: white;
  padding: 15px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
} 
input[type=submit]:hover {
  background-color: #ff006a;
  opacity: 1;
  transition: 0.5s;
}

/*tekst i begge div*/
.textp {
  color: white;
  text-align: justify;
  text-justify: inter-word;
}

/*Overskrift*/
h2 {
  font-family: Montserrat;
  font-weight: 300;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
hr {
  border: 2px solid white;
}

.bot {
  text-align: center;
}

#copyright {
  text-align: center;
  border-top: 1px solid #fff;
  opacity: 0.3;
  padding: 20px;
}   