:root {
  --primary: #818cab;
  --bg-color: #f2f2f2;
  --bg-color2: #f7f7f7;
  --bg-color3: #414141;
  --font-color: #414141;
  --font-color2: #f7f7f7;
  --wrapper: #f7f7f7;
  --reply: #414141;
  --color: #414141;
  --color2: #ababab;
  --color3: #eaeaea;
}

[data-theme='dark'] {
  --primary: #818cab;
  --bg-color: #3e4652;
  --bg-color3: #818cab;
  --font-color: #f7f7f7;
  --font-color2: #f7f7f7;
  --wrapper: #464e5b;
  --reply: #818cab;
  --color: #818cab;
  --color2: #ababab;
  --color3: #505967;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: var(--font-color);
  background-color: var(--bg-color);
  min-height: 100vh;
  margin-left: 25%;
}

main {
  margin: 50px;
  padding-top: 50px;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 20%;
  height: 100%;
  padding: 20px;
  background-color: var(--bg-color);
  border-right: solid 1px var(--color2);
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  font-family: Montserrat;
  font-weight: 300;
  display: block;
  color: var(--font-color);
  padding: 14px 30px;
  text-decoration: none;
  text-transform: uppercase;
}

li a:hover {
  transition: 0.5s;
  transform: translate3d(5px, 0, 0);
}

h1 {
  font-family: Montserrat;
  font-weight: 300;
  color: var(--font-color) !important;
  opacity: 0.8;
  padding: 14px 0px;
  text-decoration: none;
  text-transform: uppercase;
}

h1.logo a {
  display: block;
  color: var(--primary);
}
h1.logo:hover {
  color: var(--primary);
  opacity: 0.8;
  transition: 0.5s;
  transform: translate3d(5px, 0, 0);
}

h2 {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 20px;
  color: var(--font-color);
  margin-bottom: 10px;
}
h3 {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  color: var(--font-color);
  margin-bottom: 5px;
}

#username {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 20px;
  color: var(--font-color);
  margin-bottom: 5px;
  padding-bottom: 0px;
  font-size: 20px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

form {
  padding-bottom: 20px;
}

.link {
  color: var(--font-color);
  text-decoration: none;
  opacity: 0.6;
}

.errors div {
  background-color: var(--wrapper);
  width: 50%;
  margin-bottom: 20px;
  padding: 20px 50px 20px 50px;
  display: hidden;
}

/* clock */

#flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

#title h1 {
  position: relative;
  color: #fff;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1.6em;
}
#title h3 a {
  position: relative;
  color: #fff;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1.2em;
  text-decoration-line: line-through;
}

#title h3 {
  position: relative;
  text-align: center;
  color: #fff;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1em;
}

/*#clock h2 {
    position: relative;
    display: block;
    color: #fff;
    text-align: center;
    margin: 10px 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 0.8em;
}*/

#clock {
  margin: 0 auto;
  right: 0;
  top: 0;
  position: absolute;
  clear: both;
}

#clock #time {
  display: flex;
}

#clock #time div {
  position: relative;
  margin: 0px 2px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}

#clock #time div span {
  position: relative;
  display: block;
  width: 60px;
  height: 23px;
  background: #2196f3;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

#clock #time div:nth-child(-n + 2) span {
  position: relative;
  display: block;
  width: 60px;
  height: 23px;
  background: #4e4e4e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

#clock #time div span:nth-child(2) {
  height: 23px;
  font-size: 0.55em;
  letter-spacing: 0.2em;
  font-weight: 500;
  z-index: 9;
  box-shadow: none;
  background: #127fd6;
  text-transform: uppercase;
}

#clock #time div:nth-last-child(2) span {
  background: #ff006a;
}

#clock #time div:nth-last-child(2) span:nth-child(2) {
  background: #ec0062;
}

#clock #time div:nth-last-child(n + 5) span:nth-last-child(1) {
  background: #414141;
}

#clock #time div:nth-last-child(1) span {
  display: none; /* 24h */
  position: absolute;
  bottom: 0;
  width: 80px;
  height: 60px;
  font-weight: 500;
  font-size: 1.4em;
  background: #fff;
  color: #000;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}

/* wrappers */

.wrapper {
  background-color: var(--wrapper);
  width: 50%;
  padding: 20px 50px 20px 50px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(41, 41, 41, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(41, 41, 41, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(41, 41, 41, 0.3);
}
.profilewrapper {
  background-color: var(--wrapper);
  width: 70%;
  padding: 20px 50px 20px 50px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(41, 41, 41, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(41, 41, 41, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(41, 41, 41, 0.3);
}
.dashwrapper {
  background-color: var(--wrapper);
  width: 70%;
  padding: 20px 50px 20px 50px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(41, 41, 41, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(41, 41, 41, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(41, 41, 41, 0.3);
}

.adswrapper {
  background-color: var(--wrapper);
  position: fixed;
  width: 15%;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  height: 33%;
  padding: 15px;
  background-color: var(--bg-color);
  overflow: hidden;

  -webkit-box-shadow: 0px 0px 10px 0px rgba(41, 41, 41, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(41, 41, 41, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(41, 41, 41, 0.3);
}

.adstextbox {
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--color3);
}

.adstextbox p {
  padding: 20px;
}

.errorwrapper {
  background-color: var(--wrapper);
  width: 70%;
  padding: 20px 50px 20px 50px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(41, 41, 41, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(41, 41, 41, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(41, 41, 41, 0.5);
}
pre {
  margin-right: 20px;
}
.notfound {
  font-family: Montserrat;
  font-weight: 300;
  color: var(--font-color);
  padding: 0 !important;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* index */
#wrapper {
  padding: 20px 50px 20px 50px;
  display: flex;
  width: 70%;
}
/*ventre div i boksen*/
#leftbox {
  border-style: solid;
  border-color: var(--color2);
  width: 50%;
  margin: 0 auto;
  padding: 20px 50px 20px 50px;
  float: left;
}

#box1,
#box2,
#box3 {
  background-color: blue;
  border-style: 5px solid;
  border-color: white;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*right div i boksen*/
#rightbox {
  border-style: solid;
  border-color: white;
  width: 50%;
  margin: 0 auto;
  padding: 20px 50px 20px 50px;
  float: right;
}
/*div inde right div*/
.loginbox {
  background-color: #232530;
  text-align: center;
}
/*style af formen*/
#myforml {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
/*tekst i begge div*/
.textp {
  color: var(--font-color);
  text-align: justify;
  text-justify: inter-word;
}

hr {
  border: 1px solid var(--color2);
}

/* input Section */

input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: var(--font-color);
  background-color: var(--color3);
  padding: 18px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
}
input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  margin-bottom: 20px;
}
::placeholder {
  color: var(--font-color);
  opacity: 0.4;
  font-size: 14px;
}
::-webkit-file-upload-button {
  background-color: var(--color3) !important;
  color: var(--font-color2);
  border: 2px solid var(--color2) !important;
  padding: 8px;
  border: none;
  cursor: pointer;
}
input[type='submit'] {
  width: 100%;
  font-size: 20px;
  opacity: 0.8;
  background-color: var(--bg-color3);
  color: var(--font-color2);
  padding: 15px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}
input[type='submit']:hover {
  opacity: 1;
  transition: 0.5s;
}
input:focus,
textarea:focus {
  outline-color: var(--color2);
  border: none;
}

/* search Section */

.search-container {
  padding-top: 5px;
  padding-bottom: 20px;
}
.search-container input[type='text'] {
  width: 90%;
  font-family: 'Open Sans', sans-serif;
  color: var(--font-color);
  background-color: var(--color3);
  padding: 18px 20px;
  margin: 0;
  border: none;
}
.search-container form {
  padding-bottom: 0 !important;
}
.search-container button {
  float: right;
  width: 10%;
  padding: 19px 20px;
  background: var(--bg-color3);
  color: var(--font-color2);
  opacity: 0.8;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}
.search-container button:hover {
  background: var(--bg-color3);
  opacity: 1;
  transition: 0.5s;
}

@media screen and (max-width: 1200px) {
  .search-container {
    float: none;
  }
  .search-container input[type='text'],
  .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .search-container button {
    text-align: center;
  }
}

/* Profile Section */

.container {
  max-width: 93.5rem;
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
}
img {
  display: block;
  border-radius: 50%;
}
.profile {
  margin: 8px 0;
  float: right;
  margin-top: 20px;
  margin-left: 20px;
  width: 100%;
}
.profile-image {
  float: left;
  text-align: center;
}
.profile-image img {
  border-radius: 50%;
}
.profile-user-head {
  width: 100%;
  display: flex;
}
.profile-user-name {
  float: left;
  display: flex;
  font-size: 25px;
  color: var(--font-color);
  margin-left: 20px;
  padding-bottom: 0px;
}

.profile-user-role {
  text-align: center;
  font-size: 14px;
  text-transform: capitalize;
  color: var(--font-color);
  padding-bottom: 0px;
}
.profile-edit-btn {
  font-size: 16px;
  background-color: var(--bg-color3);
  color: var(--font-color2);
  border: none;
  padding: 5px 20px 5px 20px;
  opacity: 0.8;
  cursor: pointer;
  margin-top: 10px;
}

.profile-edit-btn:hover {
  opacity: 1;
  transition: 0.5s;
}

.profile-stats {
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 20px;
  width: 100%;
}
.profile-stats li {
  float: left;
  padding: 5px 5px 5px 0px;
  font-size: 18px;
  opacity: 0.6;
  font-size: 16px;
}

/*MODAL OPTIONS*/
.modal {
  position: absolute;
  z-index: 1000;
  padding: 50px;
  background-color: var(--bg-color);
  border: solid 1px var(--color2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(41, 41, 41, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(41, 41, 41, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(41, 41, 41, 0.3);
}

.modal-close {
  cursor: pointer;
}

#profile-followers-modal {
  background-color: var(--color3);
  text-align: center;
  clear: both;
  padding: 15px;
}

#profile-followers li {
  cursor: pointer;
}

button.modal-close {
  background-color: #ff006a;
  opacity: 0.6;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 7px 10px 9px 10px;
  margin: 10px 0 0 0;
  float: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

button.modal-close:hover {
  background-color: #ff006a;
  opacity: 1;
}

/*END OF MODAL OPTIONS*/

.profile-bio {
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 18px;
  opacity: 0.8;
  width: 100%;
}

::-webkit-file-upload-button {
  background-color: var(--bg-color2);
  opacity: 0.6;
  color: var(--font-color);
  padding: 8px;
  border: none;
  cursor: pointer;
}

/* theme switcher */

.theme {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color2);
  opacity: 0.8;
  width: 100%;
  padding: 20px 0px 0px 0px;
}

#theme {
  float: left;
  margin-top: 5px;
  font-size: 20px;
}

.sliderplaceholder {
  float: left;
}

/* yadda/dashboard Section */

.postbtn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
#postYadda {
  width: 20%;
  font-size: 20px;
  background-color: var(--bg-color3);
  opacity: 0.8;
  color: var(--font-color2);
  padding: 15px 20px;
  border: none;
  cursor: pointer;
}
#postYadda:hover {
  background-color: var(--bg-color3);
  opacity: 1;
  transition: 0.5s;
}
#charcount {
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--font-color);
}
#yaddatxtarea {
  float: right;
  height: 120px;
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-between;
}

.post-container {
  margin: 0 auto;
  width: 100%;
  padding: 18px 20px;
  border-top: 1px solid var(--color2);
  border-collapse: separate;
  overflow: hidden;
  display: flex;
}

.accordion-panel {
  display: none;
}

.post-content {
  padding: 0px 10px 0px 20px;
  width: 100%;
}

.post-head {
  display: flex;
  width: 100%;
}

.post-image {
  float: left;
}

.post-image img {
  border-radius: 50%;
}

.post-username a {
  color: var(--font-color);
  font-family: Montserrat;
  font-size: 20px;
  opacity: 0.8;
  text-decoration: none;
}
.post-username a:hover {
  opacity: 1;
}
.post-username form {
  padding-bottom: 0px;
}
.post-username input[type='submit'] {
  background: none;
  padding: 0px;
  margin: 0px;
  color: var(--font-color);
  opacity: 0.8;
  font-family: Montserrat;
  font-weight: 300;
  outline: none;
}
.post-username input[type='submit']:hover {
  opacity: 1;
}

.post-created {
  font-size: 12px;
  padding: 5px 5px 0px 8px;
  /* width: 100%; */
}

.post-created a {
  font-size: 12px;
  opacity: 0.8;
  color: var(--font-color);
  text-decoration: none;
}

.post-created a:hover {
  font-size: 12px;
  opacity: 1;
  color: var(--font-color);
  text-decoration: underline;
}

.post-text {
  width: 100%;
  height: 100px;
  margin-top: 5px;
}
.post-text p {
  font-size: 16px;
}

.post-tags {
  float: left;
  width: 100%;
  margin-top: 5px;
}
.post-tags a {
  font-size: 14px;
  color: var(--font-color);
  opacity: 0.8;
  text-decoration: none;
}
.post-tags a:hover {
  opacity: 1;
}

.post-bottom {
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.post-comment,
.show-comments,
.post-delete {
  float: left;
  padding: 5px 0px 0px 5px;
}

.post-comment p,
.show-comments p,
.post-delete p {
  font-size: 12px;
  opacity: 0.8;
  color: var(--font-color);
  cursor: pointer;
}

.post-comment p:hover,
.show-comments p:hover,
.post-delete p:hover {
  opacity: 1;
  text-decoration: none;
}

.post-delete form {
  padding-bottom: 0px;
  overflow: hidden;
  display: flex;
}

.post-delete button {
  background: none;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
  opacity: 0.8;
  color: var(--font-color);
  cursor: pointer;
  text-decoration: underline;
}
.post-delete button:hover {
  opacity: 1;
  text-decoration: none;
}

/* reply Section */

.reply-container {
  margin: 0 auto;
  width: 90%;
  padding: 18px 20px;
  border-collapse: separate;
  display: flex;
  float: right;
  background-color: var(--reply);
  border-radius: 20px;
  margin-bottom: 20px;
}

.reply-content {
  padding: 0px 10px 0px 20px;
  width: 100%;
  float: left;
}

.reply-head {
  width: 100%;
}

.reply-username {
  float: left;
}

.reply-image {
  float: right;
}

.reply-image img {
  border-radius: 50%;
}

.reply-username a {
  color: var(--font-color2);
  font-family: Montserrat;
  font-size: 20px;
  opacity: 0.8;
  text-decoration: none;
}
.reply-username a:hover {
  opacity: 1;
}
.reply-username form {
  padding-bottom: 0px;
}
.reply-username input[type='submit'] {
  background: none;
  padding: 0px;
  margin: 0px;
  color: var(--font-color2);
  opacity: 0.8;
  font-family: Montserrat;
  font-weight: 300;
  outline: none;
}
.reply-username input[type='submit']:hover {
  opacity: 1;
}

.reply-created {
  font-size: 12px;
  padding: 5px 15px 0px 8px;
  width: 100%;
}

.reply-created a {
  font-size: 12px;
  opacity: 0.8;
  padding: 5px 15px 0px 8px;
  color: var(--font-color2);
  text-decoration: none;
}

.reply-created a:hover {
  font-size: 12px;
  opacity: 1;
  color: var(--font-color2);
  text-decoration: underline;
}

.reply-text {
  width: 100%;
  margin-top: 5px;
  float: left;
}
.reply-text p {
  font-size: 16px;
  color: var(--font-color2);
}

#replytxtarea {
  height: 100px;
  width: 90%;
  float: right;
}
/* user/follow Section */

.user-profile {
  margin: 8px 0;
  float: right;
  margin-top: 20px;
  margin-left: 20px;
}

.follow-btn {
  font-size: 16px;
  background-color: var(--bg-color3);
  color: var(--font-color2);
  border: none;
  opacity: 0.8;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.follow-btn:hover {
  opacity: 1;
  transition: 0.5s;
}
.user-container {
  margin: 0 auto;
  padding: 18px 20px;
  background-color: var(--color3);
  margin-bottom: 20px;
}

.user-head {
  margin-bottom: 10px;
}
.user-name a {
  float: left;
  display: flex;
  font-size: 25px;
  color: var(--font-color);
  margin-left: 20px;
  margin-bottom: 5px;
}

.user-bio {
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 18px;
  opacity: 0.6;
}

.follow {
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 18px;
}

.follow form {
  padding-bottom: 0px !important;
}

/* footer section */

.bot {
  text-align: center;
}

footer {
  margin-left: -30%;
}

#copyright {
  font-size: 14px;
  text-align: center;
  opacity: 0.5;
  padding: 20px;
}

/* alert section */

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: var(--font-color2);
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #2196f3;
}
.alert--error {
  background-color: #ff006a;
}
