div(id="clock" style="position: absolute; right:0px;")
          div(id="time")
            div 
              span(id="date") 00 
              span Date
            div
              span(id="month") 00
              span Month
            div 
              span(id="hours") 00
              span Hours
            div
              span(id="minutes") 00
              span Minutes
            div
              span(id="seconds") 00
              span Seconds
            div
              span(id="ampm") AM
              span AM
header
  nav
    ul
      li
        if user && user.role == 'member'
          li: img(src="../images/avatar/" + user.avatar onerror="this.src='../images/avatar.png'" width="50px" height="50px" style="margin-left: 30px")
          li: a(href="/account") Logged in as #{user.username} 
        if user && user.role == 'admin'
          li: img(src="../images/avatar/" + user.avatar onerror="this.src='../images/avatar.png'" width="50px" height="50px" style="margin-left: 30px")
          li: a(href="/account") Logged in as #{user.username} 
      if !user
        li: a( href="/") Home
        li: a(href="/signUp") Sign Up
        li: a(href="/signIn") Sign In
        br
        li: a(href="/about") About Us
      if user && user.role == 'member'
        li: a(href="/dashboard") Dashboard
        li: a(href="/profile") profile
        li: a(href="/messages") Messages
        li: a(href="/explore") Explore
        li: a(href="/tags") #Tags
        br
        li: a(href="/account") Account Settings
        li: a(href="/about") About Us
        li: a(id="signout" href="/api/v1/users/signOut") Sign Out
      if user && user.role == 'admin'
        li: a(href="/dashboard") Dashboard
        li: a(href="/profile") profile
        li: a(href="/messages") Messages
        li: a(href="/explore") Explore
        li: a(href="/tags") #Tags
        br
        li: a(href="/adminPanel") Admin Control Panel
        li: a(href="/account") Account Settings
        li: a(href="/about") About Us
        li: a(id="signout" href="api/v1/users/signOut") Sign Out
        
      
