extends default

block content
  main
    div.profilewrapper
      h2 Who are we?
      h3 We are a group of students studying at IBA Erhvervs Akademi Kolding.
      h3 This is our 2nd semester exam project for Web Development Bachelor.
      
      
      br
      h2 Group Members
      ul
        img(src="../images/avatar/avatar.png" width="100px" height="100px")
        li: h4 Annekathrine Wienberg
          a(href="/about#facebook" style="display: inline-block; Padding: 5px 10px; font-size: 24px"): i(class="fab fa-facebook-square")
          a(href="/about#twitter" style="display: inline-block; Padding: 5px 10px; font-size: 24px"): i(class="fab fa-twitter-square")
          a(href="/about#linkedin" style="display: inline-block; Padding: 5px 10px; font-size: 24px"): i(class="fab fa-linkedin")
        p &nbsp;
        img(src="../images/avatar/avatar.png" width="100px" height="100px")
        li: h4 Hanna Rundkvist - 
          a(href="/about#facebook" style="display: inline-block; Padding: 5px 10px; font-size: 24px"): i(class="fab fa-facebook-square")
          a(href="/about#twitter" style="display: inline-block; Padding: 5px 10px; font-size: 24px"): i(class="fab fa-twitter-square")
          a(href="/about#linkedin" style="display: inline-block; Padding: 5px 10px; font-size: 24px"): i(class="fab fa-linkedin")
        p &nbsp;
        img(src="../images/avatar/avatar.png" width="100px" height="100px")
        li: h4 Mads Møller - 
          a(href="/about#facebook" style="display: inline-block; Padding: 5px 10px; font-size: 24px"): i(class="fab fa-facebook-square")
          a(href="/about#twitter" style="display: inline-block; Padding: 5px 10px; font-size: 24px"): i(class="fab fa-twitter-square")
          a(href="/about#linkedin" style="display: inline-block; Padding: 5px 10px; font-size: 24px"): i(class="fab fa-linkedin")
        p &nbsp;
        img(src="../images/avatar/avatar.png" width="100px" height="100px")
        li: h4 Sune Q. Iversen - 
          a(href="/about#facebook" style="display: inline-block; Padding: 5px 10px; font-size: 24px"): i(class="fab fa-facebook-square")
          a(href="/about#twitter" style="display: inline-block; Padding: 5px 10px; font-size: 24px"): i(class="fab fa-twitter-square")
          a(href="/about#linkedin" style="display: inline-block; Padding: 5px 10px; font-size: 24px"): i(class="fab fa-linkedin")