extends layout

block content
    div.profilewrapper 
        h2 Logo here
        h2 Dashboard   
        p Welcome to your Dashboard #{user.username}
            
        div#searchBar
            input(type='text' name='search' placeholder='Search on Ydda...')

            
            div#navigationDash
                div
                    a(href="#") Make a Yadda
                    a(href="/dashboard") Home
                    a(href="#") Tags
                    a(href="#") Messages
                    a(href="#") Profile
                    a(href="#") Logout

            div#timeLine
                div#yaddaPosts

            div#topTrendsOrTags