extends layout

block content
    div.dashwrapper
        h2#username #{user.username}
        form(id="makeyadda" action='/users/post' method='POST' enctype='multipart/form-data')
                input(type="hidden" value=user.username name="username")
                input(type="hidden" value=user.avatar name="avatar")
                textarea#yaddatxtarea(type="textarea" name="text" placeholder="What's on Your mind " + user.username + "?" rows="3" class="form-control" maxlength="167")
                input(type="text" id="tags" name="tags" placeholder="Enter #tags here")
                p#charcount
                    |
                    br
                    br
                    div.row
                        div.file-upload
                            label(for="file-input")
                                div.file-upload-icon
                                    i(class="fas fa-image fa-3x")
                            input(id="file-input" type='file' name='image' placeholder='Upload image' accept="image/*")
                        input(id="postYadda" type='submit' value='Yadda')

    |
    br
    div.dashwrapper
        div.search-container 
            form(action='/find' method='post')
                input(type='text' name='search' placeholder='Search for #tags or Users...')
                button(id="search" type='submit' value='Search')
                    i(class="fas fa-search")
    | 
    br
    div.dashwrapper 
        |
        br 
        div.post-container
            p yaddas show here 
