extends layout

block content
    div.dashwrapper
        h2#username #{user.username}
        img(id="useravatar" src="../images/avatar/" + user.avatar onerror="this.src='../images/avatar.png'" width="120px" height="120px")
        form(id="makeyadda" action='/users/post' method='POST' enctype='multipart/form-data')
                input(type="hidden" value=user.username name="username")
                input(type="hidden" value=user.avatar name="avatar")
                textarea#yaddatxtarea(type="textarea" name="text" placeholder="What's on Your mind " + user.username + "?" rows="3" class="form-control" maxlength="167")
                input(type="text" id="tags" name="tags" placeholder="Enter #tags here")
                p#charcount
                    |
                    br
                    br
                    div.row
                        div.file-upload
                            label(for="file-input")
                                img(id="file-upload-icon")
                            input(id="file-input" type='file' name='image' placeholder='Upload image' accept="image/*")
                        input(id="postYadda" type='submit' value='Yadda')

    |
    br
    div.dashwrapper

        |
        br
        div#searchbar
            input(type='text' name='search' placeholder='Search for #tags...')
        div#posts
            p Posts show here

    div.Tags
