extends default

block content
    main
        div.dashwrapper
            h2= subtitle
            div.search-container 
                form(action='/users/' method='post')
                    input(type='text' name='tag' placeholder='Search for #tags or Users...')
                    button(id="search" type='submit' value='tags')
                            i(class="fas fa-search")
        
        |
        br
        div.dashwrapper
            |
            br
            div.user-container
                p Users show here