extends layoutFrontpage

block content
    div(id="flexbox")
        div(id="title")
            h1=subtitle
            |
            br
            h3 by #{title}
    script(src='/javascripts/main.js')
