extends layoutFrontpage

block content
    div(id="flexbox")
        div(id="title")
            h1=subtitle
            |
            br
            h3 by #{title}
            div(id="clock")
                |
                br
                br
                h2 The time is now
                div(id="time")
                    div
                        span(id="date") 00
                        span Date
                    div
                        span(id="month") 00
                        span Month
                    div
                        span(id="hours") 00
                        span Hours
                    div
                        span(id="minutes") 00
                        span Minutes
                    div
                        span(id="seconds") 00
                        span Seconds
                    div
                        span(id="ampm") AM
                        span AM
    script(src='/javascripts/main.js')