doctype
html
  head
    title= title
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet")
    link(rel="icon", type="image/svg+xml", href="/favicon.svg")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="module" src='/javascripts/main.js')
  
  body
    header
      nav
        h1 Logo Here
        ul
          if user
            li
              a(href="/dashboard") Dashboard
            li
              a(href="/profile") profile
            li
              a(href="/messages") Messages
            li
              a(href="/tags") #tags
            li
              a(href="/users/logout") Logout
          if !user
            li
              a(href="/") Home
            li
              a(href="/users/register") Register
            li
              a(href="/users/login") Login
          footer
            div#copyright
              | &#169; 2020 | Gruppe 2
              p YaddaYaddaYadda
    main
      block content


          