doctype
html
  head
    title= title
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet")
    link(rel="icon", type="image/svg+xml", href="/favicon.svg")
    link(rel='stylesheet', href='/stylesheets/styleFrontpage.css')
    link(rel='stylesheet', href='/stylesheets/slidetheme.css')
    script(type="module" src='/javascripts/clock.js')
    script(src='/javascripts/darkTheme.js')
  body
    header
      nav
        ul
          li
            a(style="float:left" href="/") Home
          if user
            li
              a(style="float:right" href="/dashboard") Dashboard
            li
              a(style="float:right" href="/profile") Profile
            li
              a(style="float:right" href="/users/logout") Logout
          if !user
            li
              a(style="float:right" href="/users/register") Register
            li
              a(style="float:right" href="/users/login") Login
            li
              div(id="clock" style="float:right")
                div(id="time")
                    div
                        span(id="date") 00
                        span Date
                    div
                        span(id="month") 00
                        span Month
                    div
                        span(id="hours") 00
                        span Hours
                    div
                        span(id="minutes") 00
                        span Minutes
                    div
                        span(id="seconds") 00
                        span Seconds
                    div
                        span(id="ampm") AM
                        span AM 
    main
      block content
    footer
      div#copyright
        | &#169; 2020 | Gruppe 2
