doctype
html
  head
    title= title
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet")
    link(rel="icon", type="image/svg+xml", href="/favicon.svg")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        ul
          if user
            li
              a(style="float:left" href="/dashboard") Dashboard
            li
              a(style="float:left" href="/profile") profile
            li
              a(style="float:right" href="/users/logout") Logout
          if !user
            li
              a(style="float:left" href="/") Home
            li
              a(style="float:right" href="/users/register") Register
            li
              a(style="float:right" href="/users/login") Login
    main
      block content
    footer
        div#copyright
          | &#169; 2020 | Gruppe 2

          