extends layout

block content
    div.profilewrapper
        div.container
            div.profile-image
                img(src="../images/avatar/" + user.avatar onerror="this.src='../images/avatar.png'" width="150px" height="150px")
            div.profile
                div.profile-user-head
                    h2.profile-user-name #{user.username}
                    button.btn.profile-edit-btn Edit Profile
                div.profile-stats
                    ul
                        li #[span.profile-stat-count 0] posts | 
                        li #[span.profile-stat-count 0] followers |
                        li #[span.profile-stat-count 0] following
                div.profile-bio
                    p #[span #{user.firstName} #{user.lastName}]
                

    div.theme
        div.profilewrapper
            h2#theme Dark Theme
            div.sliderplaceholder
                label.switch
                    input#checkbox(type="checkbox")
                    div.slider.round

    |
    br
    div.profilewrapper
        div.search-container 
            form(action='/findTags' method='post')
                input(type='text' name='tag' placeholder='Search for #tags or Users...')
                button(id="search" type='submit' value='search')
                    i(class="fas fa-search")
                
    | 
    br
    div.profilewrapper 
        |
        br       
        div.post-container
            p User posts show here
    

        
    